<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8" />
    <title>Create New Team</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}"  />
</head>
<body>
<h1>Create New Driver</h1>
<br>
<form th:action="@{new/}" th:object="${driverRequest}" th:method="POST">
    <label for="firstName">Enter firstName :</label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <br>
    <label for="lastName">Enter lastName :</label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br>
    <label for="country">Enter country :</label>
    <input type="text" th:field="*{country}" id="country"/>
    <br>
    <label for="age">Enter age :</label>
    <input type="text" th:field="*{age}" id="age"/>
    <br>
    <label for="number">Enter number :</label>
    <input type="text" th:field="*{number}" id="number"/>
    <br>
    <label for="beginIn">Enter beginIn :</label>
    <input type="text" th:field="*{beginIn}" id="beginIn"/>
    <br>
    <input type="submit" value="Create New Driver">

</form>
</body>
</html>