<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8" />
    <title>Teams</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<h1>Teams</h1>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>COUNTRY</th>
            <th>TEAM CHIEF</th>
            <th>DRIVERS</th>
        </tr>
        <tr th:each ="team : ${teams}">
            <td th:utext="${team.id}">...</td>
            <td th:utext="${team.name}">...</td>
            <td th:utext="${team.country}">...</td>
            <td th:utext="${team.teamChief}">...</td>
            <td> <a th:href="@{'team/' + ${team.id} + '/drivers/'}" th:utext="${team.drivers}"></a>...</td>
        </tr>
    </table>
</div>
</body>
</html>